flask~=1.1.2
Flask-SQLAlchemy
flask-login
pandas-datareader
yfinance~=0.1.55
lxml~=4.6.2
pytz~=2021.1
Jinja2~=2.11.3
Werkzeug~=1.0.1
itsdangerous~=1.1.0
click~=7.1.2
numpy
MarkupSafe~=1.1.1
pandas
matplotlib
python-dateutil
SQLAlchemy
certifi
chardet
urllib3
six
idna
requests
multitasking
mplfinance