{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="jumbotron">
  <h1 class="display-4">Finance module</h1>
  <p class="lead">get stock info.</p>
</div>

<form method="POST" action="/submittedfinance">
  <div class="form-group">
    <label for="exampleFormControlTextarea1" style="font-size:25px">Enter a ticker below:</label>
      </br>
    <input type="text" id="ticker" name="ticker" maxlength="4" size="10">
{#      class="form-control"#}
{#      id="ticker"#}
{#      rows="1"#}
{#      name="ticker"#}
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<!-- <form method="POST" action="/submitted">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form> -->

<br />
<br />
<br />
<br />
<br />
<br />

{% endblock %}
