{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="jumbotron">
  <h1 class="display-4">Welcome to your Investment Center!</h1>
  <p class="lead">Get the financial data you need here. </p>
  <hr class="my-4">
  <p>[insert description.... placeholder].</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/finance" role="button">Get started</a>
  </p>
</div> 

<footer>
  <p>Authors: Viranchi Patel, Joshua Chopra</p>
  <p><a href="mailto:Viranchi@seas.upenn.edu">Viranchi@seas.upenn.edu</a></p>
<p><a href="mailto:jchopra@seas.upenn.edu">jchopra@seas.upenn.edu</a></p>
</footer>

{% endblock %}
