{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <h1 class="display-5">Stock Information about {{ longName }}:</h1>
    {#    <canvas id="myChart" width="400" height="150"></canvas>#}
    <div>
        <p class="lead">
            {{ longBusinessSummary }}
        </p>
        <br/>
        <br/>
        <h3 class="display-6">Summary Statistics:</h3>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Market Cap: {{ marketCap }}</li>
            <li class="list-group-item">Today's Open: {{ regularMarketOpen }}</li>
            <li class="list-group-item">Daily High: {{ dayHigh }}</li>
        </ul>
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item">Prev. Close: {{ regularMarketPreviousClose  }}</li>
            <li class="list-group-item">Avg. Daily Volume {{ averageVolume }}</li>
            <li class="list-group-item">52 Week High: {{ fiftyTwoWeekHigh }}</li>
        </ul>
        <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item">Beta: {{ beta }}</li>
            <li class="list-group-item">Forward PE: {{ forwardPE }}</li>
            <li class="list-group-item">Outstanding float: {{ floatShares }}</li>
        </ul>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container">
        <h3>{{ ticker }} Trailing 2 Weeks Trading Data </h3>
        {{ disp_data | safe }}
        <br/>
        <br/>
        <br/>
        <img src="data:image/png;base64, {{ plot_image }}">
    </div>
    <br/>
    <br/>

{% endblock %}
